<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://phongtroapi-grcqa7b7cehkefhv.eastasia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>73b26033-497b-4824-89de-8b638aafe77b</ProjectGuid>
    <PublishUrl>https://phongtroapi-grcqa7b7cehkefhv.scm.eastasia-01.azurewebsites.net/</PublishUrl>
    <UserName>$phongtroapi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>